flask
flask-socketio
flask-cors
python-dotenv
pymongo
certifi
psutil
httpx
nltk
numpy<2
scikit-learn
pyahocorasick
mss
opencv-python<4.10
nudenet
deepface
supabase
gunicorn
flask-socketio
eventlet
setuptools
